#page-home {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

#page-home .content {
  width: 90%;
  max-width: 1100px;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../images/home-background.svg) no-repeat;
  background-position: 25vw 20vh;
}

#page-home .content header {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page-home .content header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  height: 50px;
}

#page-home .content header a img {
  margin-right: 10px;
}

#page-home .content header a span {
  line-height: 50px;
  font-weight: 600;
  width: 100%;
}

#page-home .content main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 540px;
}

#page-home .content main h1 {
  font-size: 45px;
}

#page-home .content main p {
  font-size: 24px;
  line-height: 38px;
  margin-top: 24px;
  color: gray;
}

#page-home .content main a {
  width: 100%;
  max-width: 360px;
  height: 74px;
  background-color: var(--primary-color);
  border-radius: 8px;
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  color: white;
}

#page-home .content main a span {
  width: 74px;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 8px 0 0 8px;
}

#page-home .content main a strong {
  margin: 0 auto;
}

#modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #0e0a14ef;
  display: none;
}

#modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modal .modal-content {
  color: white;
  width: 90%;
  max-width: 420px;
}

#modal .modal-content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#modal .modal-content header h1 {
  margin-bottom: 2rem;
}

#modal .modal-content header a {
  font-size: 0.01px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  background-image: url("../images/x.svg");
}

#modal .modal-content form label {
  font-size: 24px;
  font-weight: bold;
}

#modal .modal-content form .search-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

#modal .modal-content form .search-field input {
  height: 72px;
  width: 100%;
  border: none;
  border-radius: 8px 0 0 8px;
  padding: 12px;
  font-size: 18px;
}

#modal .modal-content form .search-field button {
  height: 72px;
  width: 72px;
  background: var(--primary-color);
  border: none;
  border-radius: 0 8px 8px 0;
}

#modal .modal-content form .search-field button:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  cursor: pointer;
}

@media (max-width: 1100px) {
  #page-home .content {
    background: none;
  }
  #page-home .content main {
    margin: 0 auto;
    text-align: center;
  }
  #page-home .content main a {
    margin: 28px auto;
  }
}

@media (max-width: 600px) {
  #page-home .content header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #page-home .content header a {
    position: absolute;
    bottom: 20px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    min-width: 240px;
  }
  #page-home .content main {
    margin: 0 auto;
    text-align: center;
  }
  #page-home .content main a {
    margin: 28px auto;
  }
}

@media (max-width: 500px) {
  #page-home .content main h1 {
    font-size: 40px;
  }
  #page-home .content main p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 30px;
  }
  #page-home .content main a {
    width: 300px;
  }
  #modal.active {
    background-color: black;
  }
  #modal.active .modal-content form {
    max-width: 280px;
    margin: 0 auto;
  }
  #modal.active .modal-content form input {
    height: 50px;
  }
  #modal.active .modal-content form button {
    height: 50px;
    width: 50px;
  }
}
/*# sourceMappingURL=Home.css.map */